<!DOCTYPE html>
<html>
<head>
  <title>SkyNet</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{params[:controller]}_#{params[:action]}" %>">



<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>
</div>
</div>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div class="navbar-collapse collapse">
      <div class="navbar-form navbar-right" role="form">
        <div class="form-group">
          <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
          <% end %>
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <%= f.text_field :email, :class => "form-control"  %>
              <%= f.password_field :password, :class => "form-control"  %>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
              <%= f.submit 'Sign in', :class => "btn btn-success" %>
              <%= link_to "Forgot your password?", new_password_path(:user) %>
          <% end %>
        </div>
        </div>

    </div>
    <!--/.navbar-collapse -->
  </div>
</div>

<%= yield %>

###

</body>
</html>